<%-include("header") -%>
<h2>This is our about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sequi atque libero, laudantium voluptatibus ea, explicabo ut autem sed impedit, dolorem quasi. Itaque molestiae omnis consectetur libero odio voluptatum quas.</p>
<%-include("footer") -%>